body {
  height: 1000px;
  background: whitesmoke;
}

.radioDesign {
  text-align: center;
  margin-bottom: 5%;
}
.page-holder {
  min-height: 100vh;
}

.CCBackground {
  padding-top: 50px;
}
.form-group {
  text-align: left;
  max-width: 50%;
}
.outercontainer {
  margin: 0px auto;
  border: 1px solid #a6a6a6;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  width: 300px;
  background: #607d8b;
}

.formcontainer {
  margin-top: 20px;
}

.purchasebtn {
  margin-top: 20px;
}

.btn-success {
  background-color: #0032a0;
}
* {
  justify-items: center;
  margin: auto;
}
.card {
  max-width: 75%;
  box-shadow: 0 0 20px rgb(226, 221, 221);
}
.img-top {
  max-width: 45%;
  border-top-left-radius: 25px;
  border-top-left-radius: 25px;
}

header {
  height: 100vh;
}

.slide-right {
  margin-top: 10%;
  width: 100%;
  overflow: hidden;
  margin-left: 250px;
  max-width: 600px;
}
.slide-right h2 {
  animation: 2s slide-right 0.5s forwards;
  transform: translateX(-100%);
}
@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}
.img3 {
  width: 50%;
  height: auto;
}
.ccContainer {
  align-content: center;
  position: relative;
  text-align: center;
}
.nowrap {
  white-space: nowrap;
}
.check {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 4vh;
  text-align: center;
  font-weight: 300;
}
.bottom-left {
  color: gold;
  position: absolute;
  top: 60%;
  left: 15%;
  font-size: 40px;
}
.bottom-leftLast {
  color: gold;
  position: absolute;
  bottom: 12%;
  left: 15%;
  font-size: 40px;
}
.bottom-left2 {
  color: gold;
  position: absolute;
  top: 40%;
  left: 15%;
  font-size: 40px;
}
.fas.fa-angle-down {
  position: absolute;
  bottom: 0;
}

.headimg {
  max-width: 30%;
}
.text-center {
  justify-content: left;
}
.bg {
  background-image: url(images/wallet.svg);
}
